/* 
    project   : Codeon v1.2
    Created on : May 31, 2014, 10:42:39 AM
    Author     : design_mylife
    Description: clean modern one page layout.
    updated on nov 9 ,2014
       
*/

/*--------------base-------
*/

html,
body {
    height: 100%;
    color: #121212;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #121212;
    -webkit-font-smoothing: antialiased;
}



/*typography bootstrap overrides*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    line-height: 1;
}
h1{
    font-size: 36px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 27px;

}
h4{
    font-size: 24px;
}
h5{
    font-size: 16px;
}
h6{
    font-size: 13px;
}
p{
    line-height: 25px;
    font-weight: 400;
}
a {
    background: transparent;
    outline: none;
    text-decoration: none;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}
a:active,
a:hover,
a:focus {
    outline: 0;
    background: transparent;
    color: #35bdf6 !important;
    text-decoration: none;
}

.margin-top-50{
    margin-top: 50px;
}
.margin-left-20{
    margin-left: 20px;
}
.margin-bottom-20{
    margin-bottom: 20px;
}
.myTeam-padding{
    padding: 15px;
}
.myTeamDir-padding{
    margin-left: 37.5%;
    padding: 15px;
}

/****** Image Hover ******/
.image-wrapper{
    position: relative;
}
.image-wrapper img {
    width: 100%;
    height: auto;
    background-size: cover;
}

.myTeam-img{
    height: 125px;
    width: 90%;
    border-radius: 50%;
    padding-bottom: 8px;
}

.myTeamDir-img{
    height: 75%;
    width: 75%;
    border-radius: 50%;
    padding-bottom: 8px;
}

.about-img{
    margin-top: 15px;
    margin-left: 25px;
    margin-bottom: 5px;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius:50%;
}


/****** Tab Stuff ******/
.tab-margins{
    margin-top: 315px;
    padding-bottom: 25px;
}

#tab-content{
    position: relative;
}

/* about me section **/
#about-me .about-heading h1{
    color:#4D0F12;
    padding-bottom: 8px;
}

#about-me{
    background-color: grey;
}

#main-info{
    background-color: lightgray;
    border-radius: 1%;
    padding-bottom: 25px;
}

#main {
    background-image: url("../img/tile_pattern.jpg");
    background-repeat: repeat;
}

