<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>My Website</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
    <description>Sample Servlet</description>
    <display-name>GoogleWebAppServlet</display-name>
    <servlet-name>GoogleWebAppServlet</servlet-name>
    <servlet-class>com.google.apiservices.servlet.GoogleWebAppServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleWebAppServlet</servlet-name>
    <url-pattern>/googlewebapp</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <description>Google Translate API Servlet</description>
    <display-name>GoogleTranslateAPIServlet</display-name>
    <servlet-name>GoogleTranslateAPIServlet</servlet-name>
    <servlet-class>com.google.apiservices.servlet.GoogleTranslateAPIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleTranslateAPIServlet</servlet-name>
    <url-pattern>/googletranslateapi</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description>Google Translate API Servlet</description>
    <display-name>GoogleWebFontsAPIServlet</display-name>
    <servlet-name>GoogleWebFontsAPIServlet</servlet-name>
    <servlet-class>com.google.apiservices.servlet.GoogleWebfontsAPIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleWebFontsAPIServlet</servlet-name>
    <url-pattern>/googlewebfontsapiservlet</url-pattern>
  </servlet-mapping>
  
</web-app>